<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.github.talelin.latticy.mapper.ArticleMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="io.github.talelin.latticy.model.ArticleDO">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="delete_time" property="deleteTime" />
        <result column="category_id" property="categoryId" />
        <result column="title" property="title" />
        <result column="description" property="description" />
        <result column="cover_image" property="coverImage" />
        <result column="publish_state" property="publishState" />
        <result column="views" property="views" />
        <result column="priority" property="priority" />
        <result column="kind" property="kind" />
        <result column="comment_number" property="commentNumber" />
        <result column="enable_comment" property="enableComment" />
    </resultMap>
</mapper>
