<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.github.talelin.latticy.mapper.WebSiteInfoMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="io.github.talelin.latticy.model.WebSiteInfoDO">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="delete_time" property="deleteTime" />
        <result column="name" property="name" />
        <result column="title" property="title" />
        <result column="signature" property="signature" />
        <result column="copyright_time" property="copyrightTime" />
        <result column="version_number" property="versionNumber" />
        <result column="icp_number" property="icpNumber" />
        <result column="nickname" property="nickname" />
        <result column="author_avatar" property="authorAvatar" />
        <result column="icon" property="icon" />
        <result column="commentator_avatar" property="commentatorAvatar" />
        <result column="application_explain" property="applicationExplain" />
        <result column="about_me_explain" property="aboutMeExplain" />
        <result column="about_site_explain" property="aboutSiteExplain" />
        <result column="about_copyright_explain" property="aboutCopyrightExplain" />
        <result column="special_explain" property="specialExplain" />
        <result column="announcement" property="announcement" />
    </resultMap>
</mapper>
